[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/evm/lib/openzeppelin-contracts"]
	path = contracts/evm/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "contracts/evm/lib/foundry-era-contracts"]
	path = contracts/evm/lib/foundry-era-contracts
	url = https://github.com/Cyfrin/foundry-era-contracts
[submodule "contracts/evm/lib/foundry-devops"]
	path = contracts/evm/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
